
/*--------------------------------------------------------------
# General Section
--------------------------------------------------------------*/
a {
  font-family: 'Kanit', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Roboto', sans-serif;
}

/*--------------------------------------------------------------
# Navbar Section
--------------------------------------------------------------*/

.navbar-nav {
  width: 100%; 
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
}

.navbar-brand {
  font-size: 25px;
}

.navbar-nav a {
  font-weight: bold;
  color: #262626;
  text-decoration: none;
  transition: color 0.5s;
}

.navbar-nav .nav-item {
  margin-right: 15px; 
}

.navbar-brand {
  font-weight: bold;
  color: #262626;
}

.navbar-nav .nav-link {
  display: flex;
  align-items: center;
  margin-right: 15px; 
}

.navbar-nav .nav-link i {
  margin-right: 8px;
}

.navbar-nav li {
  list-style: none;
  position: relative;
}

.navbar-nav li a:before,
.navbar-nav li a:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.navbar-nav li a:before {
  top: 0;
}

.navbar-nav li a:after {
  bottom: 0;
}

.navbar-nav li a:hover {
  color: #fff;
}

.navbar-nav li a:hover:before,
.navbar-nav li a:hover:after {
  transform: scaleX(1);
}


@media (max-width: 768px) {

  .navbar-nav {
    font-size: 18px;
  }

  .navbar-brand {
    font-size: 2em; 
  }

  .navbar-nav ul {
    flex-direction: column;
    text-align: center;
  }

  .navbar-nav li a:before,
  .navbar-nav li a:after {
    width: 100%;
  }

  .navbar-nav li a:hover {
    color: #fff;
  }

  .navbar-nav li a:hover:before,
  .navbar-nav li a:hover:after {
    transform: scaleX(1);
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/Luna.jpg") top center;
  background-size: cover;
}

#hero:before {
  content: "";
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

#hero h1 {
  font-family: 'Kanit', sans-serif;
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
}

#hero p {
  font-family: 'Kanit', sans-serif;
  color: #fff;
  margin-bottom: 50px;
  font-size: 26px;
  font-weight: bold;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

#hero .btn{
    cursor:pointer;
    position:relative;
    padding:10px 20px;
    font-size:28px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    transition:all 1s;
    &:after,&:before{
      content:" ";
      width:10px;
      height:10px;
      position:absolute;
      border :0px solid #fff;
      transition:all 1s;
      }
    &:after{
      top:-1px;
      left:-1px;
      border-top:5px solid black;
      border-left:5px solid black;
    }
    &:before{
      bottom:-1px;
      right:-1px;
      border-bottom:5px solid black;
      border-right:5px solid black;
    }
    &:hover{
      border-top-right-radius:0px;
      border-bottom-left-radius:0px;
      background:rgba(0,0,0,.5);
      color:white;
      &:before,&:after{
        
        width:100%;
        height:100%;
        border-color:white;
      }
    }
  }
  
  #hero .data-container{
    background:#ffebee;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
  }


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h1 {
  font-weight: 700;
  color: #173b6c;
  font-family: 'Kanit', sans-serif;
  margin: 0 0 10px 0;
  font-size: 45px;
  font-weight: 700;
  line-height: 56px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #149ddd;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}

#about {
  background-color: #f8f9fa; 
  padding: 60px 0; 
}

#about .content {
  padding-top: 30px;
}

#about p {
  font-size: 1.1em;
  line-height: 1.6;
}

#about ul {
  list-style: none;
  padding: 0;
}

#about ul li {
  margin-bottom: 10px;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/

.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: sans-serif;
  color: #050d18;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #dce8f8;
  height: 10px;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #149ddd;
}


/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/

.card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 30%;
  margin-bottom: 20px;
}


.portfolio .card {
  position: relative;
  width: 300px;
  height: 350px;
}

.portfolio .card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

.portfolio .card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.portfolio .card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio .card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.portfolio .card .back {
  transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 35, 54);
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;
}

.portfolio .card .back .link {
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
}

.portfolio .card .back .link a {
  color: #f3f3f3;
}

.portfolio .card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.portfolio .card .back p {
  letter-spacing: 1px;
}

.portfolio .card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.portfolio .card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

.contact {
  padding-bottom: 130px;
}


.contact .php-email-form {
  width: 100%;
  height: 550px;
  padding: 40px;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}


.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form label {
  padding-bottom: 8px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 15px;
}


.contact .php-email-form .btn {
  font-weight: bold;
  background: #333 ;
  position: relative;
  padding: 10px 30px;
  border: 2px solid #149ddd;
  margin: 10px;
  display: inline-block;
  color: #fff;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
  overflow: hidden;
}

.contact .php-email-form .btn:hover {
  color: #ffffff;
}

.contact .php-email-form .btn span{
  position: absolute;
  display: block;
  width: 0px;
  height: 0px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #149ddd;
  transition: width 0.5s, height 0.5s;
}

.contact .php-email-form .btn:hover span{

  width: 300px;
  height: 300px;
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 15px;
  color: #f4f6fd;
  font-size: 14px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 9999;
  background: #040b14;
}

#footer .copyright {
  text-align: center;
}

#footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: relative;
}

#footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer .social-icons i {
  font-size: 1.6em;
  margin-left: 10px; /* Puedes ajustar este valor según tu preferencia */
}

